.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.prism-code {
  background-color: transparent !important;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.attr-value,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #67cdcc;
}

.token.selector,
.token.atrule,
.token.keyword,
.token.class-name {
  color: #cc99cd;
}

.token.function,
.token.boolean,
.token.number {
  color: #f08d49;
}

.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.line-number {
  display: block;
  line-height: 1.5;
  font-size: 12px;
}
